<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<input type="button" (click)="fileDropModal.show()" value="Show File Drop Modal" />
<input type="button" (click)="showLoadingIndicator()" value="Show Loading Indicator" />
<nm-modal-window #fileDropModal>
  <div body>
    <p>Test</p>
    <nfd-file-input #fileInput containerDivClass="fileInputDemo" (filesRejected)="onFilesRejected($event)" allowedExtensions="pdf,doc,docx,xls,xlsx,json" [maxFileSize]="4194304">
      <ng-container *ngIf="fileInput.filesSelected; then filesSelected else noFilesSelected"></ng-container>
      <!-- If there are selected files, then show them in a list. -->
      <ng-template #filesSelected>
        <ul class="fileList">
          <li *ngFor="let file of fileInput.selectedFiles">
            {{file['name']}}
          </li>
        </ul>
      </ng-template>
      <ng-template #noFilesSelected>
        <!-- If there are no selected files, then tell the user to either 
        click / drag or to drop, depending on whether files are currently
        being dragged. -->
        <ng-container *ngIf="fileInput.dragging; then dragging else notDragging"></ng-container>
        <ng-template #dragging>Drop Files Here</ng-template>
        <ng-template #notDragging>Click or Drag Files Here</ng-template>
      </ng-template>
    </nfd-file-input>
  </div>
</nm-modal-window>
<nli-loading-indicator></nli-loading-indicator>